{% extends '_layout.html' %}

{% block title %}Movie Rating App | Edit Movie{% endblock %}

{% block body %}
<h1 class="mb-5">Edit Movie</h1>
<p class="mb-3">Update the movie details below</p>
<form method="post" action="/movies/{{ movie.movie_id }}">
    <div class="mb-3">
        <label for="movie_name" class="form-label">Movie Name</label>
        <input type="text" class="form-control" id="movie_name" name="movie_name" value="{{ movie.title }}" required>
    </div>
    <div class="mb-3">
        <label for="director" class="form-label">Director</label>
        <input type="text" class="form-control" id="director" name="director" value="{{ movie.director }}" required>
    </div>
    <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <select class="form-select" id="rating" name="rating" required>
            <option value="1" {% if movie.rating == 1 %} selected {% endif %}>1 Star</option>
            <option value="2" {% if movie.rating == 2 %} selected {% endif %}>2 Stars</option>
            <option value="3" {% if movie.rating == 3 %} selected {% endif %}>3 Stars</option>
            <option value="4" {% if movie.rating == 4 %} selected {% endif %}>4 Stars</option>
            <option value="5" {% if movie.rating == 5 %} selected {% endif %}>5 Stars</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Update Movie</button>
</form>
{% endblock %}
