{% extends '_layout.html' %}

{% block title %}Movie Rating App | Movie{% endblock %}

{% block body %}
<h1 class="mb-5"> {{movie.title }} </h1>
<!-- TODO: Feature 4 -->

<p><strong>Director:</strong> {{ movie.director }}</p>
<p><strong>Rating:</strong> {{ movie.rating }} </p>

<div class="row">
    <form action="/movies/{{ movie.id }}/edit>" method="POST"></form>
    <div class="col-sm-6">
      <a href="/movies/{{ movie.id }}/edit" class="btn btn-secondary me-3">Edit</a> 
    </div>


    <div class="col-sm-6">
      <form action="/movies/{{ movie.id }}/delete" method="POST">
        <button type="submit" class="btn btn-danger me-3">Delete</button>
      </form>
    </div>
  </div>
  


{% endblock %}
